html,
body {
  overflow-x: hidden;
}

body {
  background-color: rgb(244, 244, 255);
  width: 100%;
  padding: 0;
  margin: 0;
}

#work_two {
  display: none;
}

.headline {
  background: url("images/background.png") no-repeat center center;
  background-size: contain, cover;
}

.first-page {
  border-radius: 0 0 0 40px;
  background-color: white;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  padding: 10px 10px 10px 10px;
  padding-top: 5%;
}

ul {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.icons li {
  list-style: none;
  margin-right: 10%;
}

a {
  text-decoration: none;
  color: #6070ff;
  font-size: 200;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #acb7c3;
  margin: 5px;
  border-radius: 5px;
}

#heading {
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #172b4d;
  margin-bottom: -5%;
}

.paragraph {
  margin-left: 10%;
  width: 70%;
  height: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.part li {
  left: 0%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 16px;
  color: #7a869a;
  margin-left: 5%;
  width: 60%;
}

.tech-stack ul {
  width: 100%;
  padding-left: 0;
}

.tech-stack li {
  margin-right: 5%;
  list-style: none;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 16px;
  color: #7a869a;
}

.contact {
  color: rgba(127, 140, 255, 1);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-left: 0%;
  line-height: 24px;
}

.first_contact {
  color: rgba(127, 140, 255, 1);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10%;
  line-height: 24px;
}

.icons {
  width: 70%;
  padding-bottom: 20%;
}

.first_icons {
  width: 70%;
  padding-bottom: 20%;
}

.first_icons li {
  margin-right: 10%;
  list-style: none;
}

.description {
  margin-top: -10%;
  margin-left: 5%;
  width: 90%;
}

.title {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100%;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.part {
  display: flex;
  justify-content: space-between;
  margin-left: -17%;
  margin-top: -10;
}

.description p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 24px;
  color: #344563;
  padding-bottom: 5%;
}

.tech-stack {
  display: flex;
  margin-top: -10%;
  flex-direction: row;
  align-items: center;
}

button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 3%;
  border: 1px solid #dfd1e6;
  border-radius: 0.5em;
  color: #396df2;
  background-color: white;
  margin-left: 0;
}

.third-page {
  border-radius: 0 80px 0 0;
  background-color: white;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 10%;
  width: 100%;
}

.third-page button {
  margin-top: -20%;
  background-color: white;
  color: #396df2;
}

button:hover {
  background-color: #396df2;
  color: white;
}

button:active {
  background: #2230d2;
  color: white;
}

.language ul {
  list-style: none;
}

div.arrow-down {
  position: absolute;
  left: 90%;
  border-top: 3px solid #acb7c3;
  border-left: 3px solid #acb7c3;
  height: 7px;
  width: 7px;
  vertical-align: end;
  display: inline-block;
  justify-content: space-around;
  padding: 3px;
  padding-left: -20%;
  top: 30%;
  transform: rotate(45deg);
  -webkit-transform: rotate(-135deg);
}

.nav__elements {
  display: none;
}

.arrow-right {
  position: absolute;
  left: 90%;
  border-top: 3px solid #acb7c3;
  border-left: 3px solid #acb7c3;
  height: 7px;
  width: 7px;
  vertical-align: end;
  display: inline-block;
  justify-content: space-around;
  padding: 3px;
  padding-left: -20%;
  top: 30%;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}

.work_one {
  padding-bottom: 20%;
  display: grid;
  width: 100%;
}

hr {
  width: 90%;
}

.dropdown ul {
  padding-left: 0;
}

.first_icons ul {
  width: 70%;
  padding-left: 15%;
}

.icons ul {
  width: 70%;
  padding-left: 0;
}

.arrow {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  vertical-align: middle;
}

.language p {
  padding-right: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10%;
}

.contact h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.dropdown {
  display: block;
  padding-left: 0%;
  padding-bottom: 5%;
  width: 90%;
}

.dropdown li {
  background: #f7f7f9;
  padding-bottom: 5%;
  margin-bottom: 5%;
  border-radius: 5%;
}

ul.dropdown {
  width: 100%;
}

.dropdown li a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  margin-left: 10%;
}

.language {
  display: block;
}

.language li {
  list-style: none;
}

#arrow {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

#title {
  padding-top: 30%;
  font-size: 30px;
}

.second-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  margin-top: 20%;
  padding-bottom: 10%;
}

.cards {
  width: 100%;
  margin: 5%;
  background-color: white;
}

.description h2 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.cards button {
  justify-content: start;
  margin: 10px;
  margin-left: 5%;
}

#about_me {
  width: 100%;
}

.screenshoot img {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  padding-bottom: 10%;
}

.contact_container {
  background-color: rgba(96, 112, 255, 1);
  border-top-left-radius: 5em;
}

#contact-page {
  display: flex;
  background-color: white;
  width: 100%;
}

.contacts {
  background: url("images/contact\ form\ shapes-mobile.png") no-repeat center;
}

.contacts h2 {
  padding-top: 30%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contacts p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ebebff;
  margin: 2%;
}

.contact-form ul {
  display: block;
  list-style: none;
  padding-bottom: 5em;
  padding-left: 5%;
  width: 100%;
}

.contact-form li {
  margin: 2%;
  width: 100%;
}

input,
textarea {
  width: 70%;
  padding: 3%;
  border-radius: 0.5em;
  border-color: white;
}

.menu {
  display: block;
}

textarea {
  height: 10em;
}

div.language ul li {
  width: 90%;
}

.dropdown li img {
  vertical-align: middle;
  margin-top: 5%;
}

@media only screen and (min-width: 768px) {
  .work_one {
    display: none;
  }

  .first-page {
    background: url("images/Header\ bg@2x.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain, cover;
    border-radius: 0 0 0 5em;
    background-color: white;
    margin: 0;
    width: 100%;
  }

  .screenshoot img {
    margin-top: 5%;
    padding-bottom: 10%;
  }

  .headline {
    display: flex;
    flex-direction: column;
    padding: 20%;
    justify-content: space-evenly;
    row-gap: 10%;
    background-image: none;
  }

  #heading {
    margin-top: 0;
    margin-left: 0;
  }

  #heading h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #091e42;
  }

  .logo {
    margin-top: 2%;
  }

  .menu {
    display: none;
  }

  header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .nav__elements {
    display: flex;
  }

  .nav__elements ul {
    padding-left: 0;
    margin-left: -30%;
  }

  .nav__elements li {
    list-style: none;
    padding: 5%;
  }

  .nav__elements a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    text-align: center;
  }

  .first_icons ul {
    display: flex;
    padding-left: 0;
  }

  .icons ul {
    display: flex;
    padding-left: 0;
  }

  .icons li {
    list-style: none;
    margin-right: 10%;
  }

  .paragraph button {
    margin-left: 0;
  }

  .second-page {
    margin: 0;
    width: 100%;
  }

  .cards {
    display: grid;
    margin: 5%;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 1fr;
    justify-items: center;
    border-radius: 2em;
    background-color: white;
  }

  #work_two {
    display: flex;
    margin-top: 5%;
    background-color: rgb(244, 244, 255);
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: space-between;
    width: 100%;
  }

  .description {
    margin: 0;
  }

  .description li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #6b778c;
  }

  .description h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 2%;
  }

  .description p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #344563;
  }

  .dropdown li img {
    width: 50%;
    padding-left: 5%;
  }

  #description-right {
    margin-left: -10%;
    padding-left: 0;
  }

  .cards__elements--items {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .cards__elements--items li {
    margin: 5%;
  }

  #cards__elements--item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #344563;
    list-style: none;
    margin-left: 0;
  }

  .cards__elements--list {
    display: flex;
    list-style: none;
    padding: 0%;
  }

  .cards__elements--list li {
    background: #ebebff;
    border-radius: 8px;
    padding: 2%;
    color: #6070ff;
    margin-right: 5%;
  }

  .cards button {
    margin-left: 0;
    margin-top: 5%;
    background-color: white;
  }

  button:active {
    background: #2230d2;
    color: white;
  }

  button:hover {
    background-color: #396df2;
    color: white;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #e5e5e5;
  }

  .nav {
    display: flex;
    width: 25em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-left: 10em;
    padding-right: 15em;
  }

  .bar {
    display: none;
  }

  #nav__logo {
    width: 76px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
  }

  .paragraph {
    margin: 0;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 24px;
    color: #344563;
  }

  .paragraph p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .title {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100%;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  #title {
    padding-top: 5%;
    font-size: 48px;
  }

  .third-page button {
    margin-left: 0;
    background-color: white;
    color: #396df2;
  }

  #about_me {
    width: 100%;
  }

  .aboutme_description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 1fr;
    background-color: white;
    border-top-right-radius: 10em;
    padding: 10%;
  }

  .contact h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .dropdown {
    display: flex;
    padding-left: 0;
    padding-bottom: 0;
  }

  .dropdown li {
    background: #f7f7f9;
    border-radius: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-bottom: 5%;
  }

  .dropdown li a {
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #253858;
    margin-left: 10%;
  }

  #arrow {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  #contact-page {
    background-color: white;
    width: 100%;
  }

  .contact_container {
    background-color: rgba(96, 112, 255, 1);
    border-top-left-radius: 5em;
    width: 100%;
  }

  .contact {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-left: 0%;
  }

  .first_contact {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-left: 0;
  }

  .contacts {
    display: flex;
    margin: 10%;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    background: url(images/contact\ form\ background\ shapes@2x.png) no-repeat center center;
    background-size: contain, cover;
    padding: 20%;
    padding-bottom: 0;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 24px;
  }

  .contact__items {
    border-top-left-radius: 10em;
    margin-top: 5%;
    background-color: rgba(96, 112, 255, 1);
  }

  .contacts p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #ebebff;
  }

  .contacts h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    padding-top: 15%;
    margin-bottom: 0;
    margin-top: 10%;
  }

  .contact-form ul {
    display: block;
    list-style: none;
    padding-bottom: 5em;
    width: 100%;
  }

  .contact-form li {
    margin: 2%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .contact-form button {
    margin-left: 25%;
  }

  input,
  textarea {
    width: 75%;
    padding: 3%;
    border-radius: 0.5em;
    border-color: white;
  }

  textarea {
    height: 10em;
  }
}
